<h1>Add phonebooks</h1>

<p>Add a phonebook here:</p>

<form action = "/phonebooks" method="post">
  <label for="name">Phonebook's name:</label>
  <input id="name" name="name" type="text">
  <button type = "submit">Add Phonebook</button>
</form>
