``<h3>Here are all your contacts:</h3>

<ul>
  <% @phonebook.contacts().each() do |contact| %>

  <li><a href="/contacts/<%= contact.id() %>"><%= contact.first_name() %> <%= contact.last_name() %> </a></li>
  <% end %>
</ul>

<a href="/phonebooks/<%= @phonebook.id %>/contacts/new">Add contact</a>
<a href="/">Return to Main Page</a>
